body {
  color: rgba(0, 0, 0, 0.87);
  font-family: 'Roboto','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo',sans-serif;
  font-size: 16px;
  background-color: #37474F;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 993px) {
  .container {
    width: 80%;
  }
}

.content-header {
  color: #fff;
  background-color: #3F51B5;
}

.list-inline {
  padding-left: 0;
  list-style: none;
  margin: 8px 0;
}

.list-inline>li {
  display: inline-block;
  padding: 4px 2px;
  margin-left: 0 !important;
}

.list-inline.social-btns {
  margin: 1rem 0;
}

.btn {
  text-transform: none;
  background-color: #2196F3;
}

.btn:hover {
  background-color: #42A5F5;
}

.btn.social {
  width: 36px;
  height: 36px;
  line-height: 36px;
  vertical-align: middle;
  font-size: 1.1rem;
  padding: 0;
}

.btn.social.facebook { background-color: #425F9C; }
.btn.social.facebook:hover { background-color: #5d7bbb; }
.btn.social.feed { background-color: #ed8433; }
.btn.social.feed:hover { background-color: #f19c5b; }
.btn.social.github { background-color: #454545; }
.btn.social.github:hover { background-color: #656565; }
.btn.social.google-plus { background-color: #DB4437; }
.btn.social.google-plus:hover { background-color: #e37268; }
.btn.social.hatena { background-color: #008fde; }
.btn.social.hatena:hover { background-color: #00a6ff; }
.btn.social.line { background-color: #00b900; }
.btn.social.line:hover { background-color: #00cc00; }
.btn.social.pocket { background-color: #ee4056; }
.btn.social.pocket:hover { background-color: #f37283; }
.btn.social.push7 { background-color: #efab01; }
.btn.social.push7:hover { background-color: #febd1b; }
.btn.social.pushbullet { background-color: #4ab367; }
.btn.social.pushbullet:hover { background-color: #6ec486; }
.btn.social.twitter { background-color: #1da1f2; }
.btn.social.twitter:hover { background-color: #56b8f5; }
