html {
  height: 100%;
}

body {
  color: rgba(0, 0, 0, 0.87);
  background-color: #f0f0f0;
  font-family: inter, hiragino sans, biz udgothic, sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  position: relative;
}

@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
}

.container.main-container {
  margin-top: 14px;
  padding-bottom: 3rem;
}

.btn {
  background-color: #ec407a;
  border-radius: 4px;
  font-weight: 500;
  letter-spacing: 1px;
  width: 9rem;
}

.btn:hover {
  background-color: #f06292;
}

.btn:focus {
  background-color: #e91e63;
}

.tabs {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.tabs .tab {
  flex-grow: 0 !important;
  font-weight: 500;
  letter-spacing: 1px;
  width: 140px;
}

.tabs .tab a {
  padding: 0 24px !important;
}

.tabs .tab a,
.tabs .tab a:hover {
  color: #888888;
}

.tabs .tab a.active,
.tabs .tab a:hover.active {
  color: #ee6e73;
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
  background-color: transparent;
}

.tabs .tab [class^="icon-"],
.tabs .tab [class*=" icon-"] {
  font-size: 1.3rem;
  line-height: inherit;
  float: left;
}

.tabs .tab .waves-effect .waves-ripple {
  background-color: rgba(246, 178, 181, 0.5);
}

.tabs .indicator {
  height: 4px;
  border-radius: 4px 4px 0 0;
}

.content-header {
  position: relative;
  background-color: #3f51b5;
  padding: 4rem 0 2.5rem 0;
  overflow: hidden;
  z-index: -2;
}

.content-header .header-icon {
  display: block;
  margin: 0 auto;
  width: 150px;
  border: 3px solid #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.content-header .header-name {
  display: block;
  color: rgba(255, 255, 255, 0.97);
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

.content-header .header-text {
  display: block;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

.content-header .wave {
  opacity: 0.3;
  position: absolute;
  left: -100%;
  bottom: 8em;
  background: #475dcc;
  width: 300%;
  border-radius: 45%;
  animation: drift 15000ms infinite linear;
  z-index: -1;
}

@media (max-width: 600px) {
  .content-header .wave {
    border-radius: 40%;
  }
}

.content-header .wave:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.content-header .wave.two {
  animation: drift 17500ms infinite linear;
  opacity: 0.1;
  background: #dd6666;
}

.content-header .wave.three {
  animation: drift 20000ms infinite linear;
}

.card-panel {
  position: relative;
  height: 240px;
  padding: 0;
  border-radius: 6px;
  text-align: center;
  background-color: #fff;
}

.card-panel.bg-img {
  color: rgba(255, 255, 255, 0.87);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-panel.bg-img::before {
  background-color: rgba(32, 32, 32, 0.6);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  border-radius: inherit;
}

.card-panel.bg-img.firple {
  background-image: url(../img/card_firple.png);
}

.card-panel.bg-img.nomeiryo {
  background-image: url(../img/card_nomeiryo.png);
}

.card-panel.bg-img.shooter {
  background-image: url(../img/card_shooter.png);
}

.card-panel.bg-img.macaron {
  background-image: url(../img/card_macaron.png);
}

.card-panel.bg-img.negbeat {
  background-image: url(../img/card_negbeat.png);
}

.card-panel .card-content {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.card-content .card-icon {
  color: rgba(0, 0, 0, 0.54);
  font-size: 4rem;
  margin: 1rem 0;
}

.card-content .card-title {
  font-size: 2.2rem;
  font-weight: 500;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  margin: 1rem 0;
}

.card-content .card-text {
  margin: 1rem 0;
}

.card-content .btn {
  display: block;
  margin: 1rem auto;
}

.content-footer {
  color: #fff;
  background-color: #3f51b5;
  position: absolute;
  width: 100%;
  height: 3rem;
  bottom: 0;
  text-align: center;
  overflow: hidden;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.content-footer .footer-copyright {
  line-height: 3rem;
  font-weight: 300;
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }

  body {
    color: rgba(255, 255, 255, 0.87);
    background-color: #121212;
  }

  .tabs,
  .card-panel {
    background-color: #242424;
  }

  .tabs .tab a.active,
  .tabs .tab a:hover.active {
    color: #c06f72;
  }

  .card-content .card-icon {
    color: rgba(255, 255, 255, 0.54);
  }

  .btn {
    background-color: #c06f72;
  }

  .btn:hover {
    background-color: #cc8b8e;
  }

  .btn:focus {
    background-color: #ac6366;
  }
}
